@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,700');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}
p{
    color: rgb(85, 85, 85);
}
a, .btn{
    transition: all 300ms ease;
}
nav, .nav-links{
    display: flex;
}
nav{
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}
.nav-links{
    font-size: 1.5rem;
    gap: 2rem;
    list-style: none;
    text-decoration: none;
    color: black;
    text-decoration-color: white;
}
a:hover{
    text-decoration: underline;
    text-underline-offset: 1rem;
    color: #5AE4A8;
    text-decoration-color: #5AE4A8;
}
a{text-decoration: none; color: black;}

.icon{
font-size: 2rem;
cursor: default;
}
#humburger-nav{
    display: none;
}
.humburger-menu{
    position: relative;
    display: inline-block;
}
.humburger-icon{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
}
.humburger-icon i{
    font-size: 1.5rem;
}

.menu-links{
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
}
.menu-links a{
    display: block;
    padding: 10px;
    color: black;
    font-size: 1.5rem;
    text-align: center;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}
.menu-links li{
    list-style: none;
}
.menu-links.open{
    max-height: 300px;
}

/* Section styling */

section{
    padding-top: 4vh;
    height: 94vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}
#welcome-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.picture{
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0;
}
.hello{
    cursor: default;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1rem;
}
.developer{
    cursor: default;
    text-align: center;
    font-size: 1.75rem;
    margin-bottom: 1rem;
}
.title{
    cursor: default;
    font-size: 3rem;
    margin-bottom: 1rem;
    text-align: center;
}

.social-container{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
    font-size: 2rem;
}
i{
    cursor: pointer;
}
.btn-container{
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.btn{
    font-weight: 600;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
    transition: all 300ms ease;
}
.btn-color-1, .btn-color-2{
    border: #5AE4A8 solid 0.1rem;
}
.btn-color-2, .btn-color-1:hover{
    background-color: #5AE4A8;
    color: white;
}
.btn-color-2:hover{
    background-color: #4abd8b;
}
.btn:hover{
    cursor: pointer;
}
.btn-color-1{
    background: none;
    color: #5AE4A8;
}
.section-container{
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
}
.about-details-container{
    border: #4abd8b solid 2px;
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.details-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
 .details-container p{
    margin-bottom: 1rem;
 }
 
 hr{
    width: 50%;
    text-align: center;
    margin: auto;
    border: #4abd8b solid 2px;
    margin: 3rem auto;
 }
 /* experience */

.fullStack{
    display: flex;
    justify-content: space-around;
    width: 70%;
    padding: 1.5rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin: 3rem auto;
    }
.horizental-line{
    border: #4abd8b solid 1px;
    height: auto;
}
.skills{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}
.skill{
    display: flex;
    width: 10rem;
    justify-content: left;
    gap: 0.5rem;
} /* 4:30 hhh */

/* projects examples */
.projects-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 3rem 0;
}
.line{
    display: flex;
    justify-content: center;
    margin: 3rem 0;
}
.project{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: #4abd8b solid 2px;
    border-radius: 1rem;
    height: 75vh;
    margin: 0 2rem;
}
.infos-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0.5rem;
}
.project-img{
    display: flex;
    justify-content: center;
    margin: auto;
    height: 200px;
    width: 300px;
    object-fit: cover;
    border-radius: 1rem;
}
.infos-card h3{
    margin-top: 1rem;
}
.infos-card p{
    margin-bottom: 2rem;
}